@model GoPS.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Mi Perfil";
}
<div class="main">
    @{Html.RenderPartial("Breadcrumb", "Mi Perfil"); }
    <div class="row">
        <div class="col-lg-12">
            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                <h4>Cambie las configuraciones de su cuenta</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Contraseña:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
            {
                        @Html.ActionLink("Cambiar tu Contraseña", "ChangePassword")
            }
            else
            {
                        @Html.ActionLink("Crear Password", "SetPassword")
            }
                        ]
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script>       $("#leaveDialog").hide = true;</script>
