@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "";
}

<h1 class="text-danger">Token Inválido.</h1>
<h2 class="text-danger">El token de validación ha expirado, es inválido o ha sido utilizado previamente.</h2>
<h2 class="text-danger">GoPPlus</h2>

