@model string
<div class="row5">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index" class="confirmLink"><em class="fa fa-home"></em></a></li>
        <li><a href="~/Home/About" class="confirmLink"><em class="fa fa-map"></em> Mapas</a></li>
        <li><a href="~/ParticionesCalles/ConsultaLocalicacion" class="confirmLink"><em class="fa fa-paint-brush"></em> Consulta Localización</a></li>
        <li class="active">@Model</li>
    </ol>
</div>
