<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/62b4ad99-05f1-4094-b8d0-7c9f9a30a3b7/resourceGroups/Speqtrum/providers/Microsoft.Web/sites/gopplustest</ResourceId>
    <ResourceGroup>Speqtrum</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gopplustest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>gopplustest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gopplustest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gopplustest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GoPSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;TrustServerCertificate=True" Name="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GoPS.Models.GoPSEntities, GoPPlus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" Name="Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GoPS.Models.ApplicationDbContext, GoPPlus" MigrationConfiguration="GoPS.Migrations.Configuration, GoPPlus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GoPSDConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;Encrypt=True;TrustServerCertificate=True" Name="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GoPSDConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>data source=52.176.55.203;initial catalog=GoPSD;persist security info=True;user id=gopplus;password=Gopplus2017++;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSDConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=52.176.55.203,1433;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GoPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GoPSModel.csdl|res://*/Models.GoPSModel.ssdl|res://*/Models.GoPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=52.176.55.203;Initial Catalog=GoPSD;Persist Security Info=True;User ID=gopplus;Password=Gopplus2017++;MultipleActiveResultSets=True;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>