@{
    ViewBag.Title = "Confirmación de Email";
    Layout = "";
}
@Html.Hidden("Permiso", "Perfil")
 
<div>
    <br/>    
    <img src="~/images/logoemail.png" width="100" height="100"/>
    <h2 class="label-success">
        Gracias por confirmar su cuenta.
    </h2>
</div>
