@{
    ViewBag.Title = "Catálogos GoPS";
}

<div class="main">
    <div class="row5">
        <ol class="breadcrumb">
            <li>
                <a href="~/Home/Index">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Catálogos Generales</li>
        </ol>
    </div>       
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 ">
                        <a href="~/Account/Index">
                            <img src="~/images/Usuarios.svg" class="imgMenu" />
                        </a>
</div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <a href="~/Account/Index">
                            <div class="large"></div>
                            <div class="text-muted"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5">
                        <a href="~/AspNetRoles/Index">
                            <img src="~/images/Perfiles.svg" class="imgMenu" />
                        </a>
</div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <a href="~/AspNetRoles/Index">
                            <div class="large"></div>
                            <div class="text-muted"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 ">
                        <a href="~/Positions/Index">
                            <img src="~/images/Posición.svg" class="imgMenu" />
                        </a>
</div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <a href="~/Positions/Index">
                            <div class="large"></div>
                            <div class="text-muted"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 ">
                        <a href="~/Permissions/Index">
                            <img src="~/images/Permisos.svg" class="imgMenu" />
                        </a>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <a href="~/Permissions/Index">
                            <div class="large"></div>
                            <div class="text-muted"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div><!--/.row-->    
</div>	<!--/.main-->
