@{
    ViewBag.Title = "Confirmación de Reinicio de Contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Tu contraseña ha sido reiniciada. Por favor, @Html.ActionLink("haz click aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
